/*
Colors:
pink:           ff5d9e
bright purple:  8f71ff
light purple:   82acff
baby blue:      8bffff
*/

.main-img {
    background-image: url(img/sky.jpg);
}

a {
    color: #8f71ff;
}

a:hover {
    /* color: #82acff; */
}

/* .link:hover {
    color: #ff5d9e; 
} */

.social-icon-bottom {
    background-color: #8f71ff;
}

.social-icon-bottom:hover {
    background-color: black;
}

.my-footer {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.post-image {
    padding: 1em;
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
  }
  
  .purple-mine {
    color: white;
    background-color: #8f71ff;
  }