/*
Colors:
pink:           ff5d9e
bright purple:  8f71ff
light purple:   82acff
baby blue:      8bffff
*/

.main-img {
    background-image: url(img/sky.jpg);
}

a {
    color: #8f71ff;
}

a:hover {
    /* color: #82acff; */
}

/* .link:hover {
    color: #ff5d9e; 
} */

.social-icon-bottom {
    background-color: #8f71ff;
}

.social-icon-bottom:hover {
    background-color: black;
}

.my-footer {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.post-image {
    padding: 1em;
}